pip>=0.8.2
South
Django=>1.5
django-extensions
python-dateutil
requests
lxml
djangorestframework

# optional/suggested
#psycopg2
#celery
#django-celery

# install these if you intend to develop
#mox
#nose
#django-nose
#fabric
