<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Django Podcast Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/bootstrap{% if debug %}.min{% endif %}.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/bootstrap-responsive{% if debug %}.min{% endif %}.css" />
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div>{#  data-spy="affix">#}
                {% block sidebar %}
                sidebar
                {% endblock %}
            </div>
            </div>
            <div class="span10">
                <ul class="breadcrumb">
                    {% block breadcumbs %}
                    <li><a href="{% url "podcast_client:home" %}">Home</a></li>
                    {% endblock %}
                </ul>
                {% block content %}{% endblock %}
            </div>
</body>
</html>
