$fontColor = #666666

#sidebar
    margin: 20px

img.cover
    width: 200px
    height: 200px

.external-link
    i
        font-size: 0.65em
        vertical-align: super

.listened
    i
        font-size: 20px
        cursor: pointer
        &.yes
            color: #006600
        &.no
            color: #eebb00

.download_new
    i
        cursor: pointer

.media_type
    i
        font-size: 20px

.downloaded_file
    transition: opacity 1s linear
    opacity: 1.0

    &.out
        opacity: 0.05
    i
        font-size: 20px
        cursor: pointer

