pip>=0.8.2
gunicorn
South
Django>=1.5, <1.7
django-extensions==1.6.7
django-celery==3.1.17
python-dateutil
requests
lxml
celery>=3.1,<4.0
djangorestframework<3.0
transmissionrpc

# optional/suggested
#psycopg2

# install these if you intend to develop
#mox
#nose
#django-nose
#fabric
